.ideas__wrap {
	display: flex;
	margin-top: 56px;
}
.ideas__list {
	margin-left: 35px;
	height: 292px;
	width: 639px;
}

.ideas__item {
	font-family: "inter";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;

	margin-top: 23px;
}
.ideas__footer {
	font-family: "Readex Pro";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.2;
	margin-top: 74px;
	text-align: center;
}
